/*General*/
body {
    background-color: rgb(255, 255, 230);
    font-family: Lato, sans-serif;
}

* {
    box-sizing: border-box;
}

/*Header*/
header {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position:relative;
}
  
/*Create text-box for header*/
header .text-block {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,.8);
    color: white;
    padding-left: 20px;
    padding-right:20px;
    font-family: Raleway, sans-serif;
}

/*Navbar*/
nav {
    background-color: black;
    overflow:hidden;
    font-family: Raleway, sans-serif;
}

/*Styling links in navbar*/
nav a {
    float:left;
    color: darkgrey;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    text-decoration:none;
}

/*Styling links while mouse hovers*/
nav a:hover {
    background-color: black;
    color: white;
}

/*Styling active links in navbar*/
nav a.active {
    background-color: rgba(0,0,0,.8);
    color:white;
}

/*Article / Blogposts / Main*/

article {
    float: left;
    padding: 20px;
    width: 65%;
    text-align: center;
    font-weight:300;
}

article ul {
    text-align:left;
}

.sources {
    text-align:left;
}

/* Class for code snippets*/
.codesample {
    background-color:#EEEEEE;
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace;
    font-size:10px;
}

/*Sidebar*/
aside {
    float: left;
    width: 35%;
    padding: 30px;
    text-align: center;
    font-family:Raleway,sans-serif;
}

aside ul {
    text-align:left;
}

/*Footer*/
main:after {
    content: "";
    display: table;
    clear: both;
}

footer {
    padding: 10px;
    text-align: center;
}

/*Adapt to screen width*/
@media screen and (max-width: 800px) {
    header, article, nav, aside {
        width: 100%;
        height: auto;
    }
    header h1 {
        font-size: 20px;
    }
    header h3 {
        font-size: 15px;
    }
}

@media screen and (min-width: 801px) {
    header h1 {
        font-size: 3vw;
    }
    header h3 {
        font-size: 2vw;
    }
}
